<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tautvydas.snappyappy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendsActivity"
            android:label="@string/friends_snaps_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".CameraActivity"
            android:label="@string/camera_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddFriendActivity"
            android:label="Add friend"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"
            android:noHistory="true"/>
        <activity
            android:name=".SnapsActivity"
            android:label="Snaps"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"
            android:noHistory="true"/>
        <activity
            android:name=".FriendListActivity"
            android:label="Friends"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"
            android:noHistory="true" />
        <activity
            android:name=".SendSnapActivity"
            android:label="Send a snap"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ShowSnapActivity"
            android:label="Show snap"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:noHistory="true"/>
    </application>

</manifest>